<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Questionnaire</h1>
    <div id="question"></div>
    <form id="form" method="POST">
        <div id="form-content"></div>
        <div id="btn"></div>
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var currentQuestion = 1;
            var questions = {{ questions | tojson | safe }};
            var totalQuestions = questions.length;

            function displayQuestion(questionNumber) {
                $('#question').text(questions[questionNumber - 1]);
                $('#form-content').html(`
                    <label for="reponse_${questionNumber}">Réponse :</label>
                    <select name="reponse_${questionNumber}" id="reponse_${questionNumber}">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                `);

                if (questionNumber < totalQuestions) {
                    $('#btn').html('<button type="button" onclick="nextQuestion()">Suivant</button>');
                } else {
                    $('#btn').html('<button type="submit">Soumettre</button>');
                }
            }

            window.nextQuestion = function() {
                var reponse = $(`#reponse_${currentQuestion}`).val();
                $('#form').append(`<input type="hidden" name="reponse_${currentQuestion}" value="${reponse}">`);
                currentQuestion++;
                displayQuestion(currentQuestion);
            }

            displayQuestion(currentQuestion);
        });
    </script>
<footer>
    <div class="line"><a href="https://github.com/Starkillere/IGLY">©  2024-<script>document.write(new Date().getFullYear());</script> Igly par Ayouba Anrezki</h2></a></div>
</footer>  
</body>
</html>
