<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat</title>
</head>
<body>
    <h1>Résultat de l'évaluation :</h1>
    <p>La situation de l'utilisateur d'après le modele fréquentiste est  : {{ situation_predite_f }}</p>
    <p>La situation de l'utilisateur d'aprsès le modele bayesien est : <br>MARIER : {{  situation_predite_b["MARIER"] }}%<br>DIVORCER : {{  situation_predite_b["DIVORCER"] }} %</p>
<footer>
    <div class="line"><a href="#">©  2024-<script>document.write(new Date().getFullYear());</script> Igly par Ayouba Anrezki</h2></a></div>
</footer> 
</body>
</html>
